$font-size-small: .85em;
$font-size-base: 1em;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html, body {
  height: 100%;
}

body {
  font-size: $font-size-base;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0d5ecc;
}

h3, h4 {
  margin-bottom: 16px;
}

h5 {
  text-transform: uppercase;
  color: #464950;
  font-weight: 500;
}

p {
  margin: 8px 0;
}

hr {
  margin: 0;
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
}

ul {
  padding-left: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  font-size: $font-size-base;
}

/** **/

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  overflow-x: auto;
  width: 100%;
}

.header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  padding: 20px 30px;

  h1 {
    font-size: $font-size-base;
    font-weight: 500;
  }
}

.sidebar {
  background: #f6f8fa;
  border-right: 1px solid #ddd;
  width: 320px;
  min-width: 320px;

  ul {
    padding: 0;
  }

  &__heading {
    padding: 25px 20px;
  }

  &__item {
    padding: 10px 20px;
  }

  a {
    text-decoration: none;
  }
}

.container {
  padding: 30px;
  max-width: 1300px;
  margin: 0 auto;
}

.section {
  padding-bottom: 60px;

  h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

.endpoint-details {
  display: flex;

  &__parameters {
    padding-right: 36px;
    flex: 1;
  }

  &__samples {
    max-width: 630px;
    width: 630px;
  }
}

.endpoint-details__description {
  margin-bottom: 16px;
}

.endpoint-details__samples {
  h5 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.endpoint-details__parameters {
  h5 {
    margin: 0.85rem 0 0.5rem;
  }

  .list__item p {
    margin-bottom: 0;
  }
}

.endpoint-details__method {
  .pill__blue {
    margin-right: 10px;
    text-transform: uppercase;
    padding: 8px 9px;
    line-height: 1;;
  }
}

.parameter-details {
  display: flex;
  &__type {
    margin-right: auto;
    margin-left: 10px;
  }
  &__required {
    color: #d63a07;
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;

  &__header {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }

  &__body {
    padding: 15px;
  }

  &__nav-tab {
    padding: 20px 10px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
    background: transparent;
    border-bottom: 2px solid transparent;
  }
}

.card__header {
  &.card__nav {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.card__nav-tab {
  &.active {
    border-color: #ff2f00;
  }
  &.active:hover {
    border-color: #c92b07;
  }
  &:hover {
    border-color: #ddd;
  }
}

.card__body {
  &.markdown {
    font-family: monospace;
    font-size: $font-size-small;
    background: #f6f8fa;
    line-height: 1.2rem;
    padding: 10px 15px;
  }
}

.list__item {
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

.text {
  &-bold {
    font-weight: 500;
  }
}

.pill {
  padding: 1px 9px;
  line-height: 1.5rem;
  display: inline-block;
  border-radius: 5px;
  font-size: $font-size-small;

  &__grey {
    background: #eeefef;
  }

  &__blue {
    background: #0c5ecc;
    color: #fff;
  }
}

.label__http-code {
  margin-right: 10px;
}

.form-input {
  border: 1px solid #ddd;
  padding: 5px 8px;
  border-radius: 4px;
}