$body-color: #fff;

$sidebar-color: #f6f8fa;

$font-size-base: 1em;
$font-size-small: .85em;

$border-light-grey: #eaeaea;
$border-grey: #c9d1dc;

$text-color-primary: #222;
$text-color-secondary: #464950;
$text-color-white: #fff;

$link-color: #0d5ecc;

/** ui **/

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  background: $sidebar-color;
  border-right: 1px solid $border-light-grey;
  width: 320px;
  min-width: 320px;

  ul {
    padding: 0;
    margin: 10px 0;
  }

  li {
    margin: 0;
    padding: 0
  }

  &__heading {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  h5 {
    padding: 10px 20px;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;

    &:hover {
      background: rgba(0,0,0,.02);
    }

    &.active {
      background: rgba(0,0,0,.05);
    }
  }
}

.endpoint-details__samples {
  h5 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.parameter-details {
  &__type {
    margin-right: auto;
    margin-left: 10px;
  }
  &__required {
    color: #d63a07;
  }
}

.label__http-code {
  margin-right: 10px;
}

/** reusable components **/

.card {
  &__header {
    padding: 12px 15px;
    border-bottom: 1px solid $border-light-grey;
  }

  &__nav-tab {
    padding: 20px 10px 18px;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
    background: transparent;
    border-bottom: 2px solid transparent;
  }
}

.card__header {
  &.card__nav {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.card__nav-tab {
  &.active {
    border-color: #ff2f00;
  }
  &.active:hover {
    border-color: #c92b07;
  }
  &:hover {
    border-color: #ddd;
  }
}

.form-input {
  border: 1px solid #ddd;
  padding: 5px 8px;
  border-radius: 4px;
}
